/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/templates/loginPage/login.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.login_loginPageWrap__3zXCu .login_headerWrap__Gbup4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dee1ec;
}
.login_loginPageWrap__3zXCu .login_headerWrap__Gbup4 .login_logo__Fkr9l {
  height: 80px;
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_loginPageWrap__3zXCu .login_headerWrap__Gbup4 .login_logo__Fkr9l img {
  width: 100%;
  height: auto;
}
.login_loginPageWrap__3zXCu .login_pageContent__XtgS7 {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login_loginPageWrap__3zXCu .login_pageContent__XtgS7 .login_heading__nuRLv {
  width: 100%;
  margin-bottom: 40px;
}
