@property --swing-y {
  initial-value: 0;
  inherits: false;
  syntax: "<integer>";
}

@property --swing-x {
  initial-value: 0;
  inherits: false;
  syntax: "<integer>";
}

.pageWrap {
  min-height: 100vh;
  display: flex;
  font-family: var(--f-SemiBold);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #737373;
  color: #fafafa;
  perspective: 1200px;
}

.logoWrap {
  width: 250px;
  height: auto;
  position: fixed;
  top: 0;
  left: 50%;
  padding: 10px;
  z-index: 1;
  transform: translateX(-50%);
}

.logoWrap img {
  width: 100%;
  height: 100%;
}

.pageWrap a {
  text-transform: uppercase;
  text-decoration: none;
  background: #b3b3b3;
  color: #0a0a0a;
  padding: 1rem 4rem;
  border-radius: 4rem;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
}

.pageWrap p {
  font-weight: 100;
  line-height: 26px;
}

.pageWrap h1 {
  -webkit-animation: swing 3s infinite alternate ease-in-out;
  animation: swing 3s infinite alternate ease-in-out;
  font-size: clamp(var(--fz-xl), 40vmin, 15rem);
  font-family: var(--f-SemiBold);
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  transform: translate3d(0, 0, 0vmin);
  --x: calc(50% + (var(--swing-x) * 0.5) * 1%);
  background: radial-gradient(#e6e6e6, #7a7a7a 45%) var(--x) 100%/200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}

.pageWrap .hWrap {
  font-size: clamp(5rem, 40vmin, 15rem);
  font-family: var(--f-SemiBold);
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  transform: translate3d(0, 0, 0vmin);
  color: transparent;
  z-index: 2;
}

.pageWrap .after {
  -webkit-animation: swing 3s infinite alternate ease-in-out;
  animation: swing 3s infinite alternate ease-in-out;
  content: "404";
  position: absolute;
  top: 0;
  left: 21px;
  color: #000;
  filter: blur(1.5vmin);
  transform: scale(1.05) translate3d(0, 22%, -10vmin) translate(calc((var(--swing-x, 0) * 0.05) * 1%), calc((var(--swing-y) * 0.05) * 1%));
  z-index: -1;
}

.pageWrap .cloak {
  animation: swing 3s infinite alternate-reverse ease-in-out;
  height: 100%;
  width: 100%;
  transform-origin: 50% 30%;
  transform: rotate(calc(var(--swing-x) * -0.25deg));
  background: radial-gradient(40% 40% at 50% 42%, transparent, #0c0919 35%);
}

.pageWrap .cloak__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.pageWrap .cloak__container {
  height: 250vmax;
  width: 250vmax;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pageWrap .info {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.3px;
  max-width: clamp('auto', 90vmin, 25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  color: #ffffffd9;
}

.pageWrap .info button {
  margin-top: 10px;
}


@-webkit-keyframes swing {
  0% {
    --swing-x: -100;
    --swing-y: -100;
  }

  50% {
    --swing-y: 0;
  }

  100% {
    --swing-y: -100;
    --swing-x: 100;
  }
}

@keyframes swing {
  0% {
    --swing-x: -100;
    --swing-y: -100;
  }

  50% {
    --swing-y: 0;
  }

  100% {
    --swing-y: -100;
    --swing-x: 100;
  }
}