/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/templates/dashboardPage/dashboardPage.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dashboardPage_dashboardWrapper__j5yYO {
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.dashboardPage_dashboardWrapper__j5yYO::-webkit-scrollbar {
  display: none;
}
.dashboardPage_dashboardWrapper__j5yYO button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardPage_dashboardWrapper__j5yYO .dashboardPage_tableHeader__QHbqo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding: 10px;
}
.dashboardPage_dashboardWrapper__j5yYO .dashboardPage_tableHeader__QHbqo .dashboardPage_label__MSLst {
  font-size: 16px;
}
