$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$color-error: #ff003d;

:root {
  --primary-color: #d31717;
  --primary-color-alpha: #e5736e;
  --primary-text-color: #282828;
  // '#282828';
  --primary-font: 'poppins-regular';
  --atlantika: 'atlantika';
  --bringHeart: 'bringHeart';
  --mvboli: 'mvboli';
}